@import "../../styles.scss";

.login{
    height: 100vh;
    background-color:#A4BE7B;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
   
    .card{
        width: 70%;
        display: flex;
        
        border-radius: 12px;
        min-height: 600px;
        overflow: hidden;
        background-color: white;
        // @include tablet{
        //     flex-direction: column-reverse;
        //     width: 75%;
        // }
        // @include mobile{
        //     width: 100vw;
        //     border-radius: 0%;
        // }
        @media (max-width:1140px) {
            flex-direction: column-reverse;
            width: 100%;
        }
        
        .left{
            flex:1;
            background: linear-gradient(rgba(124, 167, 99, 0.399), rgba(51, 139, 147, 0.335)), url("https://images.unsplash.com/photo-1563986768494-4dee2763ff3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") center;
              background-size: cover;
           padding: 50px;
           display: flex;
           flex-direction: column;
           gap: 30px;
           color: white;


            h1{
              font-size: 100px;
              line-height: 100px;
            }
            p{

            }
            span{
                font-size: 14px;

            }
            button{
            width: 50%;
            padding: 10px;
            border: none;
            background-color: white;
            color: #7ba734;
            font-weight: bold;
            cursor: pointer;
            }

        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            
            h1{
              color: #7ba734;
            }
            form{
                display: flex;
                
                flex-direction: column;
                
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                      padding: 20px 10px;
                      display: block;
                }
                button{
                     width: 3rem;
                     height: 2rem;
                     background-color:#A4BE7B;
                     border: none;
                     color: white;
                     font-weight: bold;
                     cursor: pointer;
                     padding: 10px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                }
            }

        }
    }
}